<tr id="room-<%= room.id %>">
	<% if room.user1 == current_user.id %>
		<% partner = User.find_by(id: room.user2)  %>
	<% elsif room.user2 == current_user.id %>
		<% partner = User.find_by(id: room.user1) %>
	<% end %>


	<td>
		<%= link_to(room) do %>
		<%# link_to gravatar_for(partner, size: 50), room %>
		<%= gravatar_for(partner, size: 50) %>
		 <span class="user_name_in_room"><%= partner.name %></span>
		 <span class="msg_time">

			<%# if false %>
				<% if (room.messages.last.created_at.day == Date.today) %>
					<%=  room.messages.last.created_at.strftime("%I:%M %p") %>
				<%  else %>
					<%= room.messages.last.created_at.strftime("%y-%m-%d") %>
				<% end %>
			<%# end %>
		</span>
		<br>
		<span class="room_content">
			<% if room.messages.last %>
				<%= room.messages.last.content.truncate(30) %>
			<% end %>
	 </span>
		<% end %>

	</td>

</tr>
